<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hoang-Kim-Shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/elegant-icons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/magnific-popup.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet"  type="text/css">
    <link th:href="@{/css/slicknav.min.css}" rel="stylesheet"  type="text/css">
    <link th:href="@{/css/style_index_user.css}" rel="stylesheet"  type="text/css">
    <style type="text/css">
    	.box {
		    text-align: center;
		}
		.coupon {
		    display: inline-block;
		    border: 1px dashed #000;
		    padding: 0.8em 1.2em;
		    position: relative;
		    font-weight: bold;
		    background: #FFC107;
		}
		
		span.scissors {
		    position: absolute;
		    top: -12px;
		    right: 0;
		}
		.inner {
		    display: inline-block;
		    border: 1px solid #e8dddd;
		    padding: 1.2em 2.2em 2.2em 2.2em;
		}
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li><a href="#">Women’s</a></li>
                            <li><a href="#">Men’s</a></li>
                            <li class="active"><a href="./shop.html">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">Product Details</a></li>
                                    <li><a href="./shop-cart.html">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <a href="#">Login</a>
                            <a href="#">Register</a>
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            
            <form th:action="@{/shopping-with-me/order/payment}" class="checkout__form" th:object="${order}" method="post">
                <div class="row">
                    <div class="col-lg-7">
                        <h5>Chi tiết hóa đơn</h5>
                        <div class="row">
                            <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Họ tên người gửi <span>*</span></p>
                                    <input type="text" name="nameuser">
                                </div>
                            </div> -->
                            <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Số điện thoại người gửi <span>*</span></p>
                                    <input type="text" name="phonesender">
                                </div>
                            </div> -->
                             <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Họ tên người nhận <span>*</span></p>
                                    <input type="text" name="namecustomer">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Số điện thoại người nhận <span>*</span></p>
                                    <input type="text" name="phonecustomer">
                                </div>
                            </div>
                            <div class="col-lg-12">
                            	<div class="checkout__form__input">
                                    <p>Email người nhận</p>
                                    <input type="text" name="emailrecever">
                                </div>
                                <div class="checkout__form__input">
                                    <p>Địa chỉ nhận hàng<span>*</span></p>
                                    <input type="text" name="addressship">
                                </div>
                                
                                <div class="checkout__form__input">
                                    <p>Phương thức thanh toán <span>*</span></p>
                                    <div style="display: flex;">
                                    	<div style="display: flex; width: 20%; ">
                                    		<span>None</span> 
                                    		<input name="isonline" value="false" style="height: 30px; width: 20px; margin-left: 20px;" type="radio" onclick="novoucher()" >
                                    	</div>
                                    	<div style="display: flex; width: 40%; ">
                                    		<span>Thanh toán khi nhận hàng</span> 
                                    		<input name="isonline" value="false" style="height: 30px; width: 20px; margin-left: 20px;" type="radio" onclick="getVoucher(false)" >
                                    	</div>
                                    	<div style="display: flex; width: 40%; ">
                                    		<span >Thanh toán online</span> 
                                    		<input name="isonline" value="true" style="height: 30px; width: 20px; margin-left: 20px;" type="radio" onclick="getVoucher(true)">
                                    	</div>
                                    </div>
                                    
                                    
                                </div>
                                
								<div class="discount__content">
									<button style="font-size: 15px;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Thêm mã giảm giá</button>
			                        <h6>Mã giảm giá:</h6>
		                            <input readonly="readonly" type="text" placeholder="Voucher code" id="idvoucher" value="0" >
		                            
		                            
	                    		</div>
									  <!-- Modal -->
									  <div class="modal fade" id="myModal" role="dialog">
									    <div class="modal-dialog">
									    
									      <!-- Modal content-->
									      <div id="fetchData" class="modal-content">
									        <div class="modal-header" th:each="voucher : ${listvoucher}">
									          <div style="display: flex;">
									          	<div>
									          		<div class="box">
													    <div class="inner">
														 	<p>SALSE</p>
															<div class="coupon">
															  <span class="scissors">✂</span>
															  <span class="code">[[${voucher.discout}]]%</span>  
															</div>
														</div>
													</div>
									          	</div>
									          	<div>
									          		<p th:if="${voucher.maxpricediscout >0}">Giảm tối đa: [[${voucher.maxpricediscout}]] $</p>
									          		<p th:if="${voucher.maxpriceoder >0}">Áp dụng đối với hóa đơn lớn hơn: [[${voucher.maxpriceoder}]]</p>
									          		<p>Số lượng đã sử dụng: [[${voucher.quantityWasUsed}]] / [[${voucher.quantity}]]</p>
									          		<p th:if="${voucher.ispayonline ==true}">Áp dụng khsi thanh toán online</p>
									          		<p th:unless="${voucher.ispayonline ==true}">Tất cả các hình thức thanh toán</p>
									          		<p>Ngay ket thuc: [[${voucher.enddate}]]</p>
									          	</div>
									          	<div>
									          		<input th:if="${voucher.ispayonline ==true}" th:value="${voucher.id}"   style="padding-left: 60px; padding-top: 10%;" type="radio" name="voucherid" disabled="disabled" class="abc123 cde123" th:onclick="getIDCodeVoucher([[${voucher.idcode}]], [[${voucher.discout}]], [[${voucher.maxpricediscout}]])">
									          		<input th:unless="${voucher.ispayonline ==true}" th:value="${voucher.id}" style="padding-left: 60px; padding-top: 10%;" type="radio" name="voucherid" class="abc123" th:onclick="getIDCodeVoucher([[${voucher.idcode}]], [[${voucher.discout}]], [[${voucher.maxpricediscout}]])">
									          	</div>
									          </div>
									        </div>
									        
									        <div class="modal-footer">
									          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									        </div>
									      </div>
									      
									    </div>
									  </div>
									  
                                <div class="checkout__form__input">
                                    <p>Ghi chú </p>
                                    <input type="text" name="note">
                                </div>
                            </div>
                           
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="checkout__order">
                                <h5>Hóa đơn</h5>
                                <div class="checkout__order__product">
                                    <ul>
                                        <li>
                                            <span class="top__text">Sản phẩm</span>
                                            
                                            <span class="top__text__right">Tiền</span>
                                        </li>
                                        <li th:each="orderetail, item :${listorder}" >
                                        	0[[${item.index + 1}]]. [[${orderetail.productname}]] <span>$ [[${orderetail.price}]]</span>
                                        	<input type="text" th:field="*{listproduct[__${item.index}__].idproduct}" hidden="true" th:value="${orderetail.idproduct}">
                                        	<input type="text" th:field="*{listproduct[__${item.index}__].sizeid}" hidden="true" th:value="${orderetail.sizeid}">
                                        	<input type="text" th:field="*{listproduct[__${item.index}__].quantity}" hidden="true" th:value="${orderetail.quantity}">
                                        	<input type="text" th:field="*{listproduct[__${item.index}__].cartid}" hidden="true" th:value="${orderetail.cartid}">
                                        </li>
                                       
                                    </ul>
                                </div>
                                <div class="checkout__order__total">
                                    <ul>
                                        <li>Tổng số lượng <span> [[${sumquantity}]]</span>
                                        	<input type="text" name="sumquantity" hidden="true"  th:value="${sumquantity}">
                                        </li>
                                        <li>Giảm: <span id="pricediscount">0</span></li>
                                        <li>Giá trị đơn hàng: <span id="priceorder">[[${sumprice}]]</span>
                                        	<input type="text" name="money" hidden="true" id="abc" th:value="${sumprice}">
                                        </li>
                                        <li>Tổng tiền cần thanh toán: <span id="money"> [[${sumprice}]]</span>
                                        	<input type="text" name="sumprice" id="sumprice" hidden="true" th:value="${sumprice}">
                                        </li>
                                    </ul>
                                </div>
                              
                                <button type="submit" class="site-btn">Thanh toán</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- Checkout Section End -->

        <!-- Instagram Begin -->
        <div class="instagram">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
		                <div class="section-title">
		                    <h4>HOT PRODUCT</h4>
		                </div>
            		</div>
        		</div>
		        <div class="row">
		            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
		                <div class="instagram__item set-bg">
		                    <img alt="" th:src="@{/img/instagram/insta-1.jpg}">
		                    <div class="instagram__text">
		                        <i class="fa fa-instagram"></i>
		                        <a href="#">@ ashion_shop</a>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
		                <div class="instagram__item set-bg" >
		                <img alt="" th:src="@{/img/instagram/insta-2.jpg}">
		                    <div class="instagram__text">
		                        <i class="fa fa-instagram"></i>
		                        <a href="#">@ ashion_shop</a>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
		                <div class="instagram__item set-bg">
		                <img alt="" th:src="@{/img/instagram/insta-3.jpg}">
		                    <div class="instagram__text">
		                        <i class="fa fa-instagram"></i>
		                        <a href="#">@ ashion_shop</a>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
		                <div class="instagram__item set-bg">
		                <img alt="" th:src="@{/img/instagram/insta-4.jpg}">
		                    <div class="instagram__text">
		                        <i class="fa fa-instagram"></i>
		                        <a href="#">@ ashion_shop</a>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
		                <div class="instagram__item set-bg">
		                <img alt="" th:src="@{/img/instagram/insta-5.jpg}">
		                    <div class="instagram__text">
		                        <i class="fa fa-instagram"></i>
		                        <a href="#">@ ashion_shop</a>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
		                <div class="instagram__item set-bg">
		                <img alt="" th:src="@{/img/instagram/insta-6.jpg}">
		                    <div class="instagram__text">
		                        <i class="fa fa-instagram"></i>
		                        <a href="#">@ ashion_shop</a>
		                    </div>
		                </div>
		            </div>
		                </div>
            </div>
        </div>
        <!-- Instagram End -->

        <!-- Footer Section Begin -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-7">
                        <div class="footer__about">
                            <div class="footer__logo">
                                <a href="./index.html"><img src="img/logo.png" alt=""></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            cilisis.</p>
                            <div class="footer__payment">
		                        <a href="#"><img th:src="@{/img/payment/payment-1.png}" alt=""></a>
		                        <a href="#"><img th:src="@{/img/payment/payment-2.png}" alt=""></a>
		                        <a href="#"><img th:src="@{/img/payment/payment-3.png}" alt=""></a>
		                        <a href="#"><img th:src="@{/img/payment/payment-4.png}" alt=""></a>
		                        <a href="#"><img th:src="@{/img/payment/payment-5.png}" alt=""></a>
		                    </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-5">
                        <div class="footer__widget">
                            <h6>Quick links</h6>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blogs</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="footer__widget">
                            <h6>Account</h6>
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Orders Tracking</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">Wishlist</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-8">
                        <div class="footer__newslatter">
                            <h6>NEWSLETTER</h6>
                            <form action="#">
                                <input type="text" placeholder="Email">
                                <button type="submit" class="site-btn">Subscribe</button>
                            </form>
                            <div class="footer__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="footer__copyright__text">
                            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        </div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->

        <!-- Search Begin -->
        <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch">+</div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <!-- Search End -->

        <!-- Js Plugins -->
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/mixitup.min.js}"></script>
		<script th:src="@{/js/jquery.countdown.min.js}"></script>
		<script th:src="@{/js/jquery.slicknav.js}"></script>
		<script th:src="@{/js/owl.carousel.min.js}"></script>
		<script th:src="@{/js/jquery.nicescroll.min.js}"></script> 
		<script th:src="@{/js/main.js}"></script> 
		<script type="text/javascript">
		
			function getVoucher(flag){
				
				
				if(flag){
					var radios = document.getElementsByClassName("abc123");
					for (var i=0, iLen=radios.length; i<iLen; i++) {
						  radios[i].disabled = false;
						  
						} 
					 
				}else{
					var radios = document.getElementsByClassName("abc123");
					for (var i=0, iLen=radios.length; i<iLen; i++) {
						  radios[i].disabled = false;
						  
						} 
					var radios = document.getElementsByClassName("cde123");
					for (var i=0, iLen=radios.length; i<iLen; i++) {
						  radios[i].disabled = true;
						  
						  
						} 
				}
				
				
			}
			
			function getIDCodeVoucher(vouchercode, discout, maxpricediscout){
				
				document.getElementById("idvoucher").value = vouchercode;
				if(vouchercode !='0'){
					var orderprice = document.getElementById('priceorder').textContent.trim();
					var pricediscout=(parseInt(discout)*parseInt(orderprice))/100;
					var totaldiscout=0;
					if(parseInt(pricediscout)<parseInt(maxpricediscout)){
						totaldiscout=parseInt(orderprice)-parseInt(pricediscout);
					}else{
						totaldiscout=parseInt(orderprice)-parseInt(maxpricediscout);
					}
					document.getElementById("pricediscount").innerHTML = pricediscout;
					document.getElementById("money").innerHTML = totaldiscout;
					document.getElementById("sumprice").value = document.getElementById("money").textContent.trim();
					
				}
				
				
			}
			function novoucher(){
				document.getElementById("idvoucher").value = 0;
				var radios = document.getElementsByClassName("abc123");
				for (var i=0, iLen=radios.length; i<iLen; i++) {
					 radios[i].disabled = true;
					  radios[i].checked = false;
					} 
				document.getElementById("voucherid").value = '';
			}
			
			
		
		</script>
    </body>

    </html>