<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hoang-Kim-Shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <!-- Css Styles -->
 
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/elegant-icons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/magnific-popup.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet"  type="text/css">
    <link th:href="@{/css/slicknav.min.css}" rel="stylesheet"  type="text/css">
    <link th:href="@{/css/style_index_user.css}" rel="stylesheet"  type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip" th:if="${session.sizecart !=0}">SOSHI</div>
                                <div class="tip" th:if="${session.sizecart ==0}">AHaHa</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img th:src="@{/img/logo.png}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img th:src="@{/img/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="#">Women’s</a></li>
                            <li><a href="#">Men’s</a></li>
                            <li><a href="./shop.html">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">Product Details</a></li>
                                    <li><a href="./shop-cart.html">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <a href="#">Login</a>
                            <a href="#">Register</a>
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li>
                            	<a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            	</a>
                            </li>
                            <li>
                            <a href="#"><span class="icon_bag_alt"></span>
                                <div class="tip" th:if="${session.username !=null}">
                                	<div th:if="session.sizecart !=0">
                                		<p th:text="${session.sizecart}"></p>
                                	</div>
                               
                                </div>
                                <div class="tip" th:if="${session.username ==null}">
                                	<p>0</p>
                                </div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                	<th style="width: 5%;"></th>
                                    <th style="width: 35%;">Product</th>
                                    <th style="width: 15%;">Size Availae</th>
                                    <th style="width: 15%;">Price</th>
                                    <th style="width: 15%;">Quantity</th>
                                    <th style="width: 15%;">Total</th>
                                    <th style="width: 5%;"></th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:id="'tr'+${cart.id}" th:each="cart : ${listCartItem}">
                                	<td style="padding-right: 30px;" class="cart__close"><span style="background-color: #cbc7f0; color: black;" class="icon_close" th:onclick="deleteCartItem([[${cart.id}]])"></span></td>
                                    <td class="cart__product__item" style="width: 35%;">
                                    	
                                        <img style="width: 150px;" th:src="@{${cart.url}}"alt="">
                                        <div class="cart__product__item__title">
                                        <h6 th:text="${cart.nameProduct}">Chain bucket bag</h6>  
                                        </div>
                                    </td>
                                    <td class="cart__product__item" style="width: 15%;">
                                    	<select th:onchange="updateCart([[${cart.id}]])" th:id="'sizeid'+${cart.id}" th:with="listSize=${cart.listSizeByProductId}" style="width: 80px">
                                    		<option selected="selected" th:value="${cart.sizeid}">[[${cart.nameSize}]]</option>
                                    		<option th:if="${cart.sizeid != size .id}" th:each="size : ${listSize}" th:value="${size .id}" th:text="${size.name}" value="">Address</option>
                                    	</select>
                                        
                                    </td>
                                    <td class="cart__price" th:id="'pricePerProduct'+${cart.id}" th:text="${cart.pricePerProduct}" style="width: 15%;">$ 150.0</td>
                                    <td class="cart__quantity" style="width: 15%;">
                                        
                                            <input style="width: 80px" th:id="'quantity'+${cart.id}" th:onclick="updateCart([[${cart.id}]])" type="number" th:value="${cart.quantity}">
                                           
                                        
                                    </td>
                                    <td style="width: 15%;" class="cart__total" th:id="'price'+${cart.id}" th:text="${cart.price}">$ 300.0</td>
                                    
                                    <td style="width: 5%; padding: 20px;"> <input th:onchange="updateOrder([[${cart.id}]])" class="Checked" style="transform: scale(1.5);" type="checkbox" th:id="'cartid'+${cart.id}" th:value="${cart.id}" name="ids"></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <form id="myform" th:action="@{/shopping-with-me/order}" method="post">
            	<input type="text" name="idsArray" value="" id="idsArray" hidden="true">
            </form>
            <div class="row">
                <div class="col-lg-6"></div>
                <div style="float: right;" class="col-lg-5 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Total quantity <span id="totalquantity">0</span></li>
                            <li>Total price<span id="totalprice">0</span></li>
                        </ul>
                        <a href="#" id="order" onclick="getAllIdItemCart()" class="primary-btn">Order</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg">
                    <img alt="" th:src="@{/img/instagram/insta-1.jpg}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg">
                    <img alt="" th:src="@{/img/instagram/insta-2.jpg}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg">
                    <img alt="" th:src="@{/img/instagram/insta-3.jpg}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg">
                    <img alt="" th:src="@{/img/instagram/insta-4.jpg}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg">
                    <img alt="" th:src="@{/img/instagram/insta-5.jpg}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg">
                    	<img alt="" th:src="@{/img/instagram/insta-6.jpg}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img th:src="@{/img/logo.png}" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                        <div class="footer__payment">
                            <a href="#"><img th:src="@{/img/payment/payment-1.png}" alt=""></a>
                            <a href="#"><img th:src="@{/img/payment/payment-2.png}" alt=""></a>
                            <a href="#"><img th:src="@{/img/payment/payment-3.png}" alt=""></a>
                            <a href="#"><img th:src="@{/img/payment/payment-4.png}" alt=""></a>
                            <a href="#"><img th:src="@{/img/payment/payment-5.png}" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                       <p>Copyright &copy;  Hoàng Kim</p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script th:src="@{/js/mixitup.min.js}"></script>
	<script th:src="@{/js/jquery.countdown.min.js}"></script>
	<script th:src="@{/js/jquery.slicknav.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/jquery.nicescroll.min.js}"></script> 
	<script th:src="@{/js/main.js}"></script> 
	<script type="text/javascript">
	var totalprice=0;
	var totalquantity=0;
	function updateCart(cartItemId){
		
		
		var sizeid="sizeid"+cartItemId;
		var quantity="quantity"+cartItemId;
		var pricePerProduct="pricePerProduct"+cartItemId;
		var price="price"+cartItemId;
		var valuePricePerProduct=document.getElementById(pricePerProduct).textContent;
		var valueQuantity=document.getElementById(quantity).value;
		
		document.getElementById(price).innerHTML = valuePricePerProduct*valueQuantity;
		
		
		var sizeId=document.getElementById(sizeid).value;
		var Quantity=document.getElementById(quantity).value;
		$.ajax({  
		 	 type: "POST",   
		     url : "/shopping-with-me/cart/update/"+cartItemId+"/"+sizeId+"/"+Quantity,
		     dataType: "json",
		     success : function(response) {
		    console.log(response);
		    
		    var finalResponse = JSON.stringify(response);
		    
		    if(response==false){
		    	alert("Không thể update sản phẩm vào giỏ hàng tư phia DB");
		    }
		  		
			 		console.log(response);
		    	 		    	 
		     },
		     
		     error: function (response){
		    	 alert("Không thể update sản phẩm vào giỏ hàng");
			 		console.log(response);
		      }
			    
	   });
		
	}
	
	function deleteCartItem(cartItemId){
		
		
		$.ajax({  
		 	 type: "POST",   
		     url : "/shopping-with-me/cart/delete/"+cartItemId,
		     dataType: "json",
		     success : function(response) {
		    console.log(response);
		    
		    var finalResponse = JSON.stringify(response);
		    
		    if(response==true){
		    	var rowid="tr"+cartItemId;
		    	var row = document.getElementById(rowid);
			    row.parentNode.removeChild(row);
		    	
		    }else{
		    	alert("Không thể xóa sản phẩm vào giỏ hàng");
		    }
		  		
			 		
		    	 		    	 
		     },
		     
		     error: function (response){
		    	 alert("Không thể xóa sản phẩm vào giỏ hàng");
			 		
		      }
			    
	   });
		
	}
		
	function getAllIdItemCart(){
		var checkboxes = document.getElementsByName("ids");
		
		  var checkboxesChecked = [];
		  
		  for (var i=0; i<checkboxes.length; i++) {
		    
		     if (checkboxes[i].checked) {
		    	 
		        checkboxesChecked.push(checkboxes[i].value);
		     }
		  }
		  
		  document.getElementById("idsArray").value = checkboxesChecked;
		  document.getElementById("myform").submit();
	}
	
	
	
	function updateOrder(idcart){
		var id="cartid"+idcart;
		var idprice="price"+idcart;
		var idquantity="quantity"+idcart;
		var valuequantity=parseInt(document.getElementById(idquantity).value);
		var valueprice=parseInt(document.getElementById(idprice).textContent.trim());
		var beforeQuantity=parseInt(document.getElementById("totalquantity").textContent.trim());
		var beforePrice=parseInt(document.getElementById("totalprice").textContent.trim());
		
		if(document.getElementById(id).checked == true){
			beforeQuantity+=valuequantity;
			beforePrice=parseInt(beforePrice)+parseInt(valueprice);
			
		}else{
			beforeQuantity-=valuequantity;
			beforePrice-=valueprice;
		}
		document.getElementById("totalquantity").innerHTML = beforeQuantity;
		document.getElementById("totalprice").innerHTML = beforePrice;
		
	}
	</script>
</body>

</html>